In [2]:
import pandas as pd

# read input file
df_input_user_id = pd.read_excel('/Python Assignment.xlsx',sheet_name='(Input) User IDs')
#loc the actual position of table in dataframe
df1=df_input_user_id.iloc[10:31, 3:9]
#reset new dataframe inex
new_df_input_user_id=df1.reset_index(drop=True)
#rename column names according to use
new_df_input_user_id=new_df_input_user_id.rename(columns={'Unnamed: 3': 'S No', 'Unnamed: 4': 'Name','Unnamed: 5':'Team Name','Unnamed: 6':'User ID'})
new_df_input_user_id

   S No           Name            Team Name User ID
0     1      Soumita M  Winning Culture Lab     280
1     2     Subhangi 0  Winning Culture Lab      75
2     3    Nitin Shane  Winning Culture Lab    1124
3     4         Merwin               Mentor     295
4     5  fardinkamal62    Human Capital Lab     263
5     6  __riddhi_213_    Human Capital Lab     504
6     7    Rohit Dutta               Mentor     266
7     8       imshawan             Tech Lab      71
8     9   Anuraj_Saini        BrandTech Lab     342
9    10        sharath  Student Unicorn Lab    3367
10   11        Ronak 0             Tech Lab     302
11   12  Amrit Malviya        Brandtech Lab     336
12   13        Saurabh               Mentor     271
13   14    darshimalde  Student Unicorn Lab    3169
14   15         Shagun             Tech Lab     100
15   16         Ayisha  Student Unicorn Lab    3406
16   17         Palash            Growpital      69
17   18          raman            Growpital     539
18   19        Nishant            Growpital     299
19   20         Vatsal              Kringle    3408
20   21       devmenkr              Kringle     360

In [3]:
#do all steps hear as done privius one
df_ring=pd.read_excel('/Python Assignment.xlsx',sheet_name='(Input) Rigorbuilder RAW')
df2=df_ring.iloc[7:28, 2:7]
new_df_input_Rigorbuilder_RAW=df2.reset_index(drop=True)
new_df_input_Rigorbuilder_RAW=new_df_input_Rigorbuilder_RAW.rename(columns={'Unnamed: 2': 'S No', 'Unnamed: 3': 'Name','Unnamed: 4':'uid','Unnamed: 5':'total_statements','Unnamed: 6':'total_reasons'})

new_df_input_Rigorbuilder_RAW

   S No           Name   uid total_statements total_reasons
0     1      Soumita M   280               13            21
1     2     Subhangi 0    75               13            16
2     3    Nitin Shane  1124               12            11
3     4         Merwin   295               13            12
4     5  fardinkamal62   263                2             2
5     6  __riddhi_213_   504                2             7
6     7    Rohit Dutta   266                3             3
7     8       imshawan    71                9             9
8     9   Anuraj_Saini   342                7             7
9    10        sharath  3367                8             8
10   11        Ronak 0   302               16            19
11   12  Amrit Malviya   336                2             4
12   13        Saurabh   271                6             8
13   14    darshimalde  3169                3             3
14   15         Shagun   100                2             2
15   16         Ayisha  3406               11             8
16   17         Palash    69                6             7
17   18          raman   539                5             5
18   19        Nishant   299                4             5
19   20         Vatsal  3408                2             2
20   21       devmenkr   360                7             7

In [4]:
#merg both above 'new_df_input_user_id' and  'new_df_input_Rigorbuilder_RAW' data frame
merged_df = pd.merge(new_df_input_user_id, new_df_input_Rigorbuilder_RAW, on='Name')
#replace element 'Brandtech Lab'to 'BrandTech Lab' from column 'Team Name
merged_df['Team Name'] = merged_df['Team Name'].replace('Brandtech Lab', 'BrandTech Lab')
#rename 'Team Name' to 'Thinking Teams Leaderboard'
merged_df=merged_df.rename(columns={'Team Name':'Thinking Teams Leaderboard'})
merged_df

,S No_x,Name,Thinking Teams Leaderboard,User ID,S No_y,uid,total_statements,total_reasons
0,1,Soumita M,Winning Culture Lab,280,1,280,13,21
1,2,Subhangi 0,Winning Culture Lab,75,2,75,13,16
2,3,Nitin Shane,Winning Culture Lab,1124,3,1124,12,11
3,4,Merwin,Mentor,295,4,295,13,12
4,5,fardinkamal62,Human Capital Lab,263,5,263,2,2
5,6,__riddhi_213_,Human Capital Lab,504,6,504,2,7
6,7,Rohit Dutta,Mentor,266,7,266,3,3
7,8,imshawan,Tech Lab,71,8,71,9,9
8,9,Anuraj_Saini,BrandTech Lab,342,9,342,7,7
9,10,sharath,Student Unicorn Lab,3367,10,3367,8,8
10,11,Ronak 0,Tech Lab,302,11,302,16,19
11,12,Amrit Malviya,BrandTech Lab,336,12,336,2,4
12,13,Saurabh,Mentor,271,13,271,6,8
13,14,darshimalde,Student Unicorn Lab,3169,14,3169,3,3
14,15,Shagun,Tech Lab,100,15,100,2,2
15,16,Ayisha,Student Unicorn Lab,3406,16,3406,11,8
16,17,Palash,Growpital,69,17,69,6,7
17,18,raman,Growpital,539,18,539,5,5
18,19,Nishant,Growpital,299,19,299,4,5
19,20,Vatsal,Kringle,3408,20,3408,2,2
20,21,devmenkr,Kringle,360,21,360,7,7

In [5]:
#find mean with respect to 'total_statements' column and round it upto 2 decimal point
Average_Statements = round(merged_df.groupby('Thinking Teams Leaderboard')['total_statements'].mean(),2)
Average_Statements

Thinking Teams Leaderboard
BrandTech Lab           4.50
Growpital               5.00
Human Capital Lab       2.00
Kringle                 4.50
Mentor                  7.33
Student Unicorn Lab     7.33
Tech Lab                9.00
Winning Culture Lab    12.67
Name: total_statements, dtype: float64

In [6]:
#find mean with respect to 'total_reasons' column and round it upto 2 decimal point
Average_Reasons=round(merged_df.groupby('Thinking Teams Leaderboard')['total_reasons'].mean(),2)
Average_Reasons

Thinking Teams Leaderboard
BrandTech Lab           5.50
Growpital               5.67
Human Capital Lab       4.50
Kringle                 4.50
Mentor                  7.67
Student Unicorn Lab     6.33
Tech Lab               10.00
Winning Culture Lab    16.00
Name: total_reasons, dtype: float64

In [7]:
#merg above two dataframe 'Average_Statements' and 'Average_Reasons' on basis of column-Team Name
Team_wise_leadarship1=pd.merge(Average_Statements, Average_Reasons, on='Thinking Teams Leaderboard')
#sort the value on decending order
Team_wise_leadarship=Team_wise_leadarship1.sort_values(by='total_statements', ascending=False)
#rename the column name according to need
Team_wise_leadarship=Team_wise_leadarship.rename(columns={'total_statements':'Average Statements','total_reasons':'Average Reasons'}) 

Team_wise_leadarship

                            Average Statements  Average Reasons
Thinking Teams Leaderboard
Winning Culture Lab                      12.67            16.00
Tech Lab                                  9.00            10.00
Mentor                                    7.33             7.67
Student Unicorn Lab                       7.33             6.33
Growpital                                 5.00             5.67
BrandTech Lab                             4.50             5.50
Kringle                                   4.50             4.50
Human Capital Lab                         2.00             4.50

In [13]:
#creat new colum by adding column 'Average Statements' and 'Average Reasons'
Team_wise_leadarship['sum1']=Team_wise_leadarship['Average Statements']+Team_wise_leadarship['Average Reasons']

# Use the rank method to assign ranks to the values in the 'sum1' column
Team_wise_leadarship['rank'] = Team_wise_leadarship['sum1'].rank(method='min', ascending=False)


# Create a new column 'Team Rank' with the ranks

Team_wise_leadarship['Team Rank'] = Team_wise_leadarship['sum1'].rank(method='min', ascending=False)
Team_wise_leadarship['Team Rank']=Team_wise_leadarship['Team Rank'].astype(int)
# Drop the 'rank' column
Team_wise_leadarship = Team_wise_leadarship.drop('rank', axis=1)

#Drop the 'sum1' column
Team_wise_leadarship=Team_wise_leadarship.drop('sum1',axis=1)



# Reorder the columns of the dataframe
Team_wise_leadarship

                            Average Statements  Average Reasons  Team Rank
Thinking Teams Leaderboard
Winning Culture Lab                      12.67            16.00          1
Tech Lab                                  9.00            10.00          2
Mentor                                    7.33             7.67          3
Student Unicorn Lab                       7.33             6.33          4
Growpital                                 5.00             5.67          5
BrandTech Lab                             4.50             5.50          6
Kringle                                   4.50             4.50          7
Human Capital Lab                         2.00             4.50          8

In [18]:
#assigning new dataframe
Leaderboard_individual=new_df_input_Rigorbuilder_RAW
#rename column name as we needed

Leaderboard_individual=Leaderboard_individual.rename(columns={'uid':'UID','total_statements':'No. of Statements','total_reasons':'No. of Reasons'})

#creat new column having sum of column 'No. of Statements' and 'No. of Reasons'
Leaderboard_individual['sum_value']=Leaderboard_individual['No. of Statements']+Leaderboard_individual['No. of Reasons']

#drop 'SNo' column
Leaderboard_individual = Leaderboard_individual.drop('S No', axis=1)

#sort dataframe according to decresing order of column 'No. of Statements, values
Leaderboard_individual = Leaderboard_individual.sort_values(by='sum_value', ascending=False)


# Create a new column 'Rank' with the ranks

Leaderboard_individual['Rank'] = Leaderboard_individual['sum_value'].rank(method='min', ascending=False)
Leaderboard_individual['Rank']=Leaderboard_individual['Rank'].astype(int)
# Drop the 'sum_value' column
Leaderboard_individual = Leaderboard_individual.drop('sum_value', axis=1)


Leaderboard_individual

             Name   UID No. of Statements No. of Reasons  Rank
10        Ronak 0   302                16             19     1
0       Soumita M   280                13             21     2
1      Subhangi 0    75                13             16     3
3          Merwin   295                13             12     4
2     Nitin Shane  1124                12             11     5
15         Ayisha  3406                11              8     6
7        imshawan    71                 9              9     7
9         sharath  3367                 8              8     8
12        Saurabh   271                 6              8     9
20       devmenkr   360                 7              7     9
8    Anuraj_Saini   342                 7              7     9
16         Palash    69                 6              7    12
17          raman   539                 5              5    13
5   __riddhi_213_   504                 2              7    14
18        Nishant   299                 4              5    14
6     Rohit Dutta   266                 3              3    16
13    darshimalde  3169                 3              3    16
11  Amrit Malviya   336                 2              4    16
14         Shagun   100                 2              2    19
4   fardinkamal62   263                 2              2    19
19         Vatsal  3408                 2              2    19

In [24]:

# get column names and reorder them
cols =Leaderboard_individual.columns.tolist()
cols = [cols[4]] + cols[:4]

# reindex the DataFrame with reordered column names
Leaderboard_individual = Leaderboard_individual.reindex(columns=cols)

# remove integer index using reset_index()
#Leaderboard_individual= Leaderboard_individual.reset_index(drop=True)
Leaderboard_individual

    Rank           Name   UID No. of Statements No. of Reasons
0      1        Ronak 0   302                16             19
1      2      Soumita M   280                13             21
2      3     Subhangi 0    75                13             16
3      4         Merwin   295                13             12
4      5    Nitin Shane  1124                12             11
5      6         Ayisha  3406                11              8
6      7       imshawan    71                 9              9
7      8        sharath  3367                 8              8
8      9        Saurabh   271                 6              8
9      9       devmenkr   360                 7              7
10     9   Anuraj_Saini   342                 7              7
11    12         Palash    69                 6              7
12    13          raman   539                 5              5
13    14  __riddhi_213_   504                 2              7
14    14        Nishant   299                 4              5
15    16    Rohit Dutta   266                 3              3
16    16    darshimalde  3169                 3              3
17    16  Amrit Malviya   336                 2              4
18    19         Shagun   100                 2              2
19    19  fardinkamal62   263                 2              2
20    19         Vatsal  3408                 2              2